*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}


/* ========== banner css ========== */
.banner-area{
    padding-top: 85px;
    padding-bottom: 438px;
    background: -webkit-linear-gradient(45deg, #008DCA 20%, #FFFFFF 0%, #FBFCFF, #F0F9F5);
}

.hero-content .banner-title{
    font-size: 90px;
    background: -webkit-linear-gradient(45deg, #0075AA, #00AA25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    line-height: 108px;
}

.hero-content .banner-content {
    font-size: 18px;
    color: #282728;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 32px;
}

.hero-content .btn {
    background-color: #72BF44;
    padding: 16px 26px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    border: none;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.hero-content .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    color: #fff;
    background-color: #0075AA;
}


/* ========== hotspot css ========== */
.hotspot-area {
    margin-top: -370px;
}

.hotspot-area img {
    width: 997px;
    height: 545px;
}


/* ========== brand css ========== */
.service-area {
    padding: 148px 0;
}

.brand-content .brand-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.brand-content .brand-title > span {
    color: #0096CC;
    font-weight: 500;
}

.brand-images .brand-image {
    padding: 37px 30px;
    margin-right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}

.brand-images .brand-image:last-child {
    margin-right: 0;
}

/* ========== service css ========== */
.service-title {
    color: #282728;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.service-content {
    color: #757575;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.server-protocals .protocals {
    background: #F5F6FA;
    border-radius: 6px;
    padding: 8px 22px;
    color: #0096CC;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.item-3 .service-content {
    margin-top: 7px;
}


/* ========== features css ========== */
.features-area {
    padding-top: 104px;
    padding-bottom: 138px;
    background-color: #F7FBFA;
}

.features-header{
    margin-bottom: 35px;
}

h2.features-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #282728;
}

p.header-content {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #3D3D3D;
}

.features-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 55px -8px rgba(0, 0, 0, 0.04);
    border-radius: 29px;
    padding: 33px 23px 39px 28px;
    margin-bottom: 24px;
    transition: 0.5s;
}

.features-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 55px -8px rgba(0, 0, 0, 0.04);
}

.features-icon{
    font-size: 56px;
    color: #10816A;
}

.features-item h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #282728;
}

.features-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3D3D3D;
}

.features-btn .btn {
    background-color: #72BF44;
    padding: 18px 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    border: none;
    transition: 0.5s;
    margin-top: 37px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.features-btn .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    color: #fff;
    background-color: #0075AA;
}

.feature-middle-area {
    padding-top: 141px;
    padding-bottom: 155px;
}

.middle-btn .btn {
    padding: 16px 22px;
}

h2.header-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #282728;
}

.feature-bottom-area {
    margin-bottom: 61px;
}

.feature-bottom-header {
    margin-bottom: 63px;
}

.features-bottom-item {
    padding-right: 10px;
}

.features-bottom-item .features-icon {
    font-size: 48px;
}

.features-bottom-item h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}

.features-bottom-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3D3D3D;
}

/* ========== video css ========== */
.video-feedback-area {
    padding-top: 88px;
    padding-bottom: 120px;
    background-color: #F1F8FB;
}

.video-header {
    margin-bottom: 46px;
}

/* ========== pricing css ========== */
.pricing-area {
    padding-top: 119px;
    padding-bottom: 155px;
    background-color: #E8F3F8;
}

.pricing-header {
    margin-bottom: 32px;
}

.pricing-header .header-content {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #0096CC;
}

h3.guarantee-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    margin-bottom: 21px;
}

h3.guarantee-title span {
    color: #0096CC;
    font-weight: 900;
}

.pricing-payment-method .payment-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #3D3D3D;
    margin-right: 12px;
}

.pricing-payment-method .payment-logo {
    background-color: #fff;
    padding: 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
}


/* ========== pricing css ========== */
.testimonial-area {
    margin-top: -60px;
    padding-bottom: 88px;
}

.testimonial-area .swiper-slide {
    display: flex;
    padding: 34px 106px 65px 65px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 60px 70px rgba(10, 23, 66, 0.04);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.testimonial-area .quote-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}

.testimonial-area .testimonial-quote {
    background-color: #0096CC26;
    width: 77px;
    height: 77px;
    font-size: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0096CC;
    margin-left: -34px;
}

.testimonial-area .testimonial-review {
    font-size: 14px;
    color: #F29232;
    display: flex;
    gap: 5px;
}

.testimonial-area h3.slide-title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #282728;
}

.testimonial-area p.slide-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #868E95;
}

.h-border {
    width: 2px;
    background: #DEE9F4;
    height: 231px;
    margin-right: 47px;
    margin-left: 60px;
}

.testimonial-area img.author-img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.testimonial-area h6.author-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #222831;
}

.testimonial-area .designation {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #72BF44;
}

.testimonial-area .swiper-pagination {
    margin-top: -50px;
    margin-left: 65px;
}

.testimonial-area .swiper-pagination-bullet{
    width: 5px;
    height: 3px;
    border-radius: 5px;
    background-color: #C4C4C4;
    margin-right: 10px;
}

.testimonial-area .swiper-pagination-bullet-active {
    width: 34px;
    background-color: #0096CC;
}


